// Global styling for this template
body,
html {
  width: 100%;
  height: 100%;
}

// Typography
.text-white-75 {
  color: fade-out($white, .25);
}

// Custom horizontal rules
hr.divider {
  max-width: 3.25rem;
  border-width: 0.2rem;
  border-color: $primary;
}

hr.light {
  border-color: $white;
}

// Button restyling
.btn {
  font-family: $font-family-sans-serif;
  background-color: rgba(52, 90, 97,0.7);
}

.btn-xl {
  padding: 0.75rem 1.25rem;
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 10rem;
}

// Page section padding
.page-section {
  padding: 8rem 0;
}

// Personal add
.autocomplete {
    border-radius: 10rem;
    border: 0.5px solid grey;
    height: 2.25rem;
    text-align: center;
}

.thumbnail {
  position: relative;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.img-thumbnail {
  object-fit: cover;
  object-position: bottom center;
  height: 400px;
  width: 300px;
}

.nutrigrade-thumb {
  position: absolute;
  border-radius: 50%;
  background-color: #aaa;
  width: 2rem;
  height: 2rem;
  padding: 0;
  text-align: center;
  line-height: 2rem;
  margin: 0;
  right: 0rem;
  top: -1rem;
}

.sub_proposition {
  padding: 0rem 0rem;
  margin: auto;
}

#saveButton {
  background:none;
  border:none;
}

label {
  color:white;
}