{% extends "home/index.html" %}
{% block title %}Mentions Légales{% endblock %}
{% block masthead %} {% endblock %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-12 text-center">
            <h2 class="text-white mt-0">Mentions Légales</h2><br>
         </div>
         </div>
    <div class="row">
        <div class="col-lg-12">
            <p><strong>Template :</strong> Creative, <a href="https://startbootstrap.com/themes/creative/" class="text-white-75">en savoir plus</a> </p>
            <p><strong>Icônes :</strong> FontAwesome, <a href="http://fontawesome.io/icons/" class="text-white-75">en savoir plus</a> </p>
            <p><strong>Photographie :</strong> Olenka Kotyk, <a href="https://unsplash.com/photos/eqsEZNCm4-c" class="text-white-75">en savoir plus</a> </p>
            <p><strong>Données :</strong> OpenFoodFacts, <a href="https://world.openfoodfacts.org/" class="text-white-75">en savoir plus</a> </p>
            <p><strong>Template CSS :</strong> BootStrap 4, <a href="https://getbootstrap.com/" class="text-white-75">en savoir plus</a> </p>
            <p><strong>Politique de confidentialité:</strong><a href="https://www.freeprivacypolicy.com/privacy/view/2e50b976bfeda2c2f43df969a7b468ba" class="text-white-75"> Accéder ici</a> </p>

        </div>
    </div>
{% endblock %}