{% extends "home/index.html" %}
{% block title %} {{ prod.name }} {% endblock %}
{% block masthead_background %}
    background: linear-gradient(rgba(232, 167, 93, 0.10), rgba(232, 167, 93, 0.90)), url({{ prod.full_image }});background-repeat:no-repeat;background-size:cover
{% endblock %}

{% block masthead_title %}
    {{ prod.name }}
{% endblock %}

{% block formulary %}<!-- No form -->{% endblock %}

{% block content %}
    <div class="row">
        <p class="text-white-75 col-lg-6 align-content-lg-start">
            <img src="{{ prod.nutri_image }}">
        </p>
        <img src="{{ prod.diet_link }}" class="col-lg-6 align-content-lg-end">
    </div>
    <div class="row justify-content-center" >
        <a class="btn btn-light btn-xl" href="{{ prod.url }}" style="margin-top: 5rem;padding:0.5rem 8rem;">Consulter sur OpenFoodFacts</a>
    </div>
{% endblock %}
