{% extends "products/product.html" %}
{% block title %} Substituts pour {{ prod.name }} {% endblock %}
{% block content %}
    <div class="row justify-content-center" xmlns="http://www.w3.org/1999/html">
            {% for substitute in substitutes %}
                <div class="col-md-4 col-12">
                    <div class="col-11 thumbnail">
                        <a href="{% url 'product' substitute.id %}"><img src="{{ substitute.thumb_link }}" class="img-thumbnail"><p class="nutrigrade-thumb">{{ substitute.nutrition_grade | upper }}</p></a>
                    </div>
                    <p class="offset-2 col-8 text-center text-white-75" style="margin-bottom: 0">{{ substitute.name | truncatechars:32 }}</p>
                {% block save_content %}
                {% if user.is_authenticated %}
                     <form class="offset-3 col-6" action="{% url 'add_favorite' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="to_substitute" value="{{ prod.id }}">
                        <input type="hidden" name="substitution" value="{{ substitute.id }}">
                         <button type="submit" name="Save" id="saveButton"><i class="fas fa-save fa-2x"></i> Sauvegarder</button>
                     </form>

                {% endif %}
                {% endblock%}
                </div>
            {% endfor %}
    </div>
{% endblock %}
